# Load Needed Libraries

In [13]:
import pandas as pd
import json
from pandas.io.json import json_normalize

# Load and clean data

In [18]:
import json
world_bank_df = json.load(open('C:/Users/JR/Documents/Data Science Class/data_wrangling_json/data/world_bank_projects.json'))
world_bank_df = pd.read_json('C:/Users/JR/Documents/Data Science Class/data_wrangling_json/data/world_bank_projects.json')
world_bank_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

# Question 1

In [30]:
#finding the needed headers in order to answer the question.
print(world_bank_df.columns)

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [31]:
 input_data =json.load(open('C:/Users/JR/Documents/Data Science Class/data_wrangling_json/data/world_bank_projects.json'))

# performing the normalization operation to extract country and project level information
df = json_normalize(input_data, 'majorsector_percent', ['countryshortname'])

# performing the group by operation on the country name to get the count of the projects
df1 = df.groupby(df.countryshortname)

# performing the count operation, followed by the descending sort and concluding with getting the top 10 countries
df2 = df1.size().sort_values(ascending = False).head(10)

# printing the final output
df2

countryshortname
Indonesia     56
China         54
Vietnam       50
India         48
Brazil        37
Nepal         33
Africa        33
Mozambique    32
Bangladesh    32
Morocco       31
dtype: int64

# Question 2

In [32]:
# performing the normalization operation to extract the project names
df = json_normalize(input_data, 'mjtheme_namecode')

# performing the group operation, followed by count, and then sorting operation
# once we get all the counts, the top 10 is extracted using the head() command
# it is seen that in top 10 projects, null project is also included
df.groupby(df.name).size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

# Question 3

In [33]:
# performing the normalization operation to extract the project names
# replacing the null project names with string ***Not Available***
df = json_normalize(input_data, 'mjtheme_namecode')
df[df.name=='']='***Not Available***'

# performing the group operation, followed by count, and then sorting operation
# once we get all the counts, the top 10 is extracted using the head() command
# it is seen that in top 10 projects, previous null project is replaced with ***Not Available***
df.groupby(df.name).size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
***Not Available***                             122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64